<div class="container">
  <h2>Movie Details</h2>
  <div class="row">
  <div class="item_details_movie">
    <div class="col-md-12 clearfix movie-details" *ngFor="let movie of results.results">
  <div class="col-md-2">
    <img src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" class="img-responsive img-center" alt="">
  </div>
  <div class="col-md-10">
    <div class="detail_item">
    <h3>{{movie.title}}</h3>
    <p>{{movie.overview}}<p>
      <div class="row">
        <div class="col-md-3">
          <label for="">Release Date</label>
          <p>{{movie.release_date}}</p>
        </div>
        <div class="col-md-3">
           <label for="">Original Language</label>
          <p>{{movie.original_language}}</p>
        </div>
         <div class="col-md-3">
           <label for="">Vote Count</label>
          <p>{{movie.vote_count}}</p>
        </div>
      </div>
      </div>
      </div>
      </div>
  </div>
</div>
</div>