.col-md-12.clearfix.movie-details {
    display: block;
    margin-bottom: 30px;
}
.movie-details img{height: auto;
overflow: hidden;
widows: 100%}
.h3, h3 {
    font-size: 29px;
    font-weight: 100;
    margin-bottom: 29px;
    margin-top: 0px;
}
p {
    margin: 0 0 10px;
    margin-bottom: 30px;
}
.col-md-3 p {
    color: deeppink;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}