.side_nav {
    margin-top: 200px;
}
.side_nav ul{
    list-style-type: none;
    padding: 0px;
}
.side_nav ul li{
   
}
.side_nav ul li a{
    color: #fff;
    font-weight: 300;
       font-size: 15px;
    padding: 14px 14px;
    letter-spacing: 1px;  
    text-decoration: none;  
    display: block;
}
a.active {
    background: rgba(255,255,255,0.2);
    border-left: 2px solid orange;
}