
td {
    width: 15%;
    word-break: break-word;
}
td:nth-child(3), td:nth-child(4), td:nth-child(6), td:nth-child(5) {
    width: 8%;
}
.search-box-wrapper {
    background: #00796b;
    padding: 20px;
}
.search-box-wrapper input {
    height: 46px;
    border-radius: 32px;
    background: #455a64;
    color: #fff;

}
.movies-list {
    margin-top: 50px;
}
thead td {
    font-size: 15px;
    font-weight: bold;
    padding: 13px 5px;
    background: #BDBDBD;
}   
td:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
}   
.col-md-9 a {
    margin-left: 20px;
}